#header {
    width: 100%;
    height: 100px;

    background-color: honeydew;
}

#body {
    width: 100%;
    height: calc(100% - 100px);

    max-height: 800px;
}


#side_bar{
    width: 300px;
    height: 800px;
    background-color: beige;

    float: right;
}

#contents_viewer {
    width: calc(100% - 300px);
    height:100%;
    background-color: aliceblue;
    float: left;
}

#time_table {
    height: 200px;
}

#awesome_contribute {
    height: 200px;
}

#repository_detail {
    height: 100%;
}

