#header {
    padding: 20px 50px 40px 50px;
    min-width: 1080px;
    background-color: rgba(0,0,0,0.01);
}
#my_name {
    display: none;
}
.logo {
  display: inline-block;
}
#title {
  font-size: 100px;
  margin-bottom: 0px;
}
#info {
  padding-left: 10px;
}
#info > h1:first-child {
  margin: 0px;
}
#timer {
    display: inline-block;
    margin-top: 30px;
    font-size: 100px;
}
nav li {
    display: inline-block;
    margin: 40px 40px 20px 10px;
    font-size: 20px;
    text-align: center;
    width: 140px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.1);
    text-decoration: none;
    color: black;
}
nav li:hover, #top_btn:hover {
    background-color: rgba(0,0,0,0.05);
}
#top_btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 15px 20px;
    background-color: rgba(0,0,0,0.1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-decoration: none;
}
#contents {
    padding: 30px 50px 40px 60px;
    min-width: 1080px;
}
.contents_container {
    padding-bottom: 50px;
}
.contents_title {
    font-size: 40px;
    border-bottom: 1px solid rgb(200, 200, 200);
}
/*
#side_bar{
    width: 300px;
    height: 500px;
    float: right;
}
#chat_chat {
    height: 400px;
    overflow-y: scroll;
}
#chat_box {
    width: 75%;
    float: left;
}
#chat_send {
    width: 20%;
    float: right;
}
#contents_viewer {
    width: calc(100% - 300px);
    height:100%;
    background-color: aliceblue;
    float: left;
}

#time_table {
    height: 100%;
}

#awesome_contribute {
    height: 100%;
}

#repository_detail {
    height: 100%;
}
*/