#header {
    padding: 20px 50px 40px 50px;
    min-width: 1080px;
    background-color: rgba(0,0,0,0.01);
}
#my_name {
    display: none;
}
.logo {
  display: inline-block;
}
#title {
  font-size: 100px;
  margin-bottom: 0px;
}
#info {
  padding-left: 10px;
}
#info > h1:first-child {
  margin: 0px;
}
#timer {
    display: inline-block;
    margin-top: 30px;
    font-size: 100px;
}
nav li {
    display: inline-block;
    margin: 80px 40px 20px 10px;
    font-size: 20px;
    text-align: center;
    width: 140px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgba(0,0,0,0.1);
    text-decoration: none;
    color: black;
}
nav li:hover, #top_btn:hover {
    background-color: rgba(0,0,0,0.05);
}
#top_btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 15px 20px;
    background-color: rgba(0,0,0,0.1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-decoration: none;
}
#contents {
    padding: 30px 50px 40px 60px;
    min-width: 1080px;
}
.contents_container {
    padding-bottom: 50px;
    max-width: 930px;
}
.contents_title {
    font-size: 40px;
    border-bottom: 1px solid rgb(200, 200, 200);
}
#chat_container {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 500px;
    background-color: rgba(0,0,0,0.1);
    padding: 10px;
}
#chat_chat {
    height: 450px;
    margin-bottom: 7px;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    max-width: 203px;
    overflow-y: scroll;
}
#chat_chat li {
    list-style: none;
    margin-top: 5px;
    word-break: break-all;
}
#chat_chat li:first-child {
    margin-top: 0px;
}
#chat_chat .mychat {
    color: blue;
}
#notice_list {
    padding: 0px;
}
#notice_list li {
    list-style: none;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.05);
    margin-bottom: 20px;
    font-size: 20px;
}
#notice_list li:hover {
    background-color: rgba(0,0,0,0.03);
}
#notice_list li p {
    font-size: 15px;
    margin-bottom: 0px;
}
.notice_hidden {
    display: none;
}
#tooltip {
    position: fixed;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}
#schedule table th {
    height: 50px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
}
#schedule table th:first-child {
    width: 130px;
}
#schedule table th:last-child {
    width: 300px;
}
#schedule table tr td {
    height: 30px;
    text-align: center;
}
#schedule table tr td:first-child {
    text-align: center;
}
#schedule table tr td:last-child {
    padding-left: 10px;
}
#next_day td{
    border-top: 1px solid black;
}