.logo, .label {
  display: inline-block;
}
#container {
  padding: 20px 50px 40px 50px;
  min-width: 1080px;
}
#title {
  font-size: 100px;
  margin-bottom: 0px;
}
#notice {
  padding-left: 10px;
}
form {
  padding-left: 8px;
}
#notice > h1:first-child, form .label {
  margin: 0px;
}
#notice > h1:last-child {
  margin-bottom: 0px;
  margin-top: 50px;
}
#inputBox, #submit{
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  vertical-align: text-bottom;
  box-sizing: border-box;
}
form .label {
  font-size: 50px;
  margin-right: 20px;
}