{% extends "base.html" %}

<!-- css -->
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static_url('home.css') }}"/>
{% end %}

<!-- body html -->
{% block body %}
<span id="top"></span>
<div id="header">
    <img class="logo" src="{{ static_url('images/Logo.png') }}" width="70"/>
    <h1 class="logo">OSORI</h1>
    <h2 id="my_name">{{ current_user }}</h2>
    <h1 id="title">OSORI HACKDAY</h1>
    <div id="info">
        <h1>1st: 2017.11.04 15:30 - 2017.11.05 9:30</h1>
        <div id='timer'></div>
    </div>
    <nav>
        <a href="#notice"><li>NOTICE</li></a>
        <a href="#awesome"><li>AWESOME</li></a>
        <a href="#repository"><li>REPOSITORIES</li></a>
        <a href="#time_table"><li>TIMETABLE</li></a>
    </nav>
</div>

<a href="#top"><b id="top_btn">&uarr;</b></a>

<div id="contents">
    <div id="notice" class="contents_container">
        <p class="contents_title">NOTICE</p>
    </div>
    <div id="awesome" class="contents_container">
        <p class="contents_title">AWESOME!</p>
        <button id="refresh_awesome_button">Refresh</button>
        <div id="awesome_contribute"></div>
    </div>
    <div id="repository" class="contents_container">
        <p class="contents_title">REPOSITORIES</p>
        <button id="refresh_repo_button">Refresh</button>
        <div id="repository_detail"></div>
    </div>
    <div id="time_table" class="contents_container">
        <p class="contents_title">TIMETABLE</p>
    </div>

    <!--
    <div id="side_bar">
        <div id="chat_chat">

        </div>

        <input type="text" id="chat_box">
        <button id="chat_send">send</button>
    </div>
    -->
</div>


{% end %}
<!-- javascript -->
{% block bottom %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ static_url('home.js') }}"></script>
<script src="{{ static_url('timer.js') }}"></script>
{% end %}
