{% extends "base.html" %}

<!-- css -->
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static_url('home.css') }}"/>
{% end %}

<!-- body html -->
{% block body %}
<div id="header">
    <h1>Osori HackDay</h1>
</div>

<div id="body">
    <div id="contents_viewer">
        <div id="time_table">

        </div>
        <h1>Awesome!</h1>
        <button id="refresh_awesome_button">Refresh</button>
        <div id="awesome_contribute">
        </div>
        <h1>Repository 진행 현황</h1>
        <button id="refresh_repo_button">Refresh</button>
        <div id="repository_detail">
        </div>
    </div>
    <div id="side_bar">

    </div>

</div>


{% end %}

<!-- javascript -->
{% block bottom %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ static_url('home.js') }}"></script>
{% end %}
