{% extends "base.html" %}

<!-- css -->
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static_url('home.css') }}"/>
{% end %}

<!-- body html -->
{% block body %}
<span id="top"></span>
<div id="header">
    <img class="logo" src="{{ static_url('images/Logo.png') }}" width="70"/>
    <h1 class="logo">OSORI</h1>
    <h2 id="my_name">{{ current_user }}</h2>
    <h1 id="title">OSORI HACKDAY</h1>
    <div id="info">
        <h1>1st: 2017.11.04 15:30 - 2017.11.05 9:30</h1>
        <div id='timer'></div>
    </div>
    <nav>
        <li onclick="location.href='#notice'">NOTICE</li>
        <li onclick="location.href='#awesome'">AWESOME</li>
        <li onclick="location.href='#repository'">REPOSITORIES</li>
        <li onclick="location.href='#schedule'">SCHEDULES</li>
    </nav>
</div>

<a href="#top"><b id="top_btn">&uarr;</b></a>

<div id="contents">
    <div id="notice" class="contents_container">
        <p class="contents_title">NOTICE</p>
        <ul id="notice_list"></ul>
    </div>
    <div id="awesome" class="contents_container">
        <p class="contents_title">AWESOME!</p>
        <div id="awesome_contributor">
            <h2>Best Contributor</h2>
        </div>
        <div id="awesome_repository">
            <h2>Best Repository</h2>
        </div>
    </div>
    <div id="repository" class="contents_container">
        <p class="contents_title">REPOSITORIES</p>
        <div id="repository_detail"></div>
    </div>
    <div id="schedule" class="contents_container">
        <p class="contents_title">SCHEDULES</p>
        <div id="tooltip" class="hidden">
            <p id="time"></p>
            <p id="activity"></p>
        </div>
        <div id="schedule_chart"></div>
        <table>
            <tr>
                <th>TIME</th>
                <th>ACTIVITY</th>
            </tr>
            <tr>
                <td>15:30 - 16:00</td>
                <td>집합 및 행사 소개</td>
            </tr>
            <tr>
                <td>16:00 - 16:40</td>
                <td>선배들의 강연</td>
            </tr>
            <tr>
                <td>16:40 - 18:30</td>
                <td>아이디어 회의</td>
            </tr>
            <tr>
                <td>18:30 - 20:00</td>
                <td>저녁 식사</td>
            </tr>
            <tr>
                <td>20:00 - 20:40</td>
                <td>팀별 아이디어 발표</td>
            </tr>
            <tr>
                <td>20:40 - 00:00</td>
                <td>프로그래밍</td>
            </tr>
            <tr id="next_day">
                <td>00:00 - 01:00</td>
                <td>야식 및 중간점검</td>
            </tr>
            <tr>
                <td>01:00 - 08:00</td>
                <td>프로그래밍</td>
            </tr>
            <tr>
                <td>08:00 - 09:00</td>
                <td>최종 발표 및 시상</td>
            </tr>
            <tr>
                <td>09:00 - 09:30</td>
                <td>청소 및 행사 종료</td>
            </tr>
        </table>
    </div>

    <div id="chat_container">
        <div id="chat_chat">
            <p>채팅이 잘 작동하지 않으면<br>새로고침을 해주세요.</p>
        </div>
        <input type="text" id="chat_box">
        <button id="chat_send">send</button>
    </div>
</div>


{% end %}
<!-- javascript -->
{% block bottom %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="{{ static_url('home.js') }}"></script>
<script src="{{ static_url('timer.js') }}"></script>
<script src="{{ static_url('scheduler.js') }}"></script>
<script src="{{ static_url('repository.js') }}"></script>
{% end %}
