{% extends "base.html" %}

<!-- css -->
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static_url('login.css') }}" />
{% end %}

<!-- body html -->
{% block body %}
<div id="container">
    <img class="logo" src="{{ static_url('images/Logo.png') }}" width="70"/>
    <h1 class="logo">OSORI</h1>
    <h1 id="title">OSORI HACKDAY</h1>
    <div id="notice">
        <h1>1st: 2017.11.04 15:30 - 2017.11.05 9:30</h1>
        <h1>Please Sign in</h1>
    </div>
    <form action="/login" method="post">
        <h2 class="label">Name </h2>
        <input id="inputBox" type="text" name="user_name" style="width:300px">
        <input id="submit" type="submit" value="REGISTER">
    </form>
</div>
{% end %}

<!-- javascript -->
{% block bottom %}
<script src="{{ static_url('login.js') }}" />
{% end %}
